

.work {
    display: block;
    width: 100%;
    height: 135px;
    margin-bottom: 30px;
    background-position: top center !important;
    z-index: 0;
    position: relative;
    overflow: hidden;
    border-radius: 5px; }
    .work:after {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: '';
      background: #281818;
      opacity: 0;
      z-index: 0;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    .work .text {
      opacity: 0; }
      @media (max-width: 991.98px) {
        .work .text {
          opacity: 1; } }
      .work .text span {
        color: rgba(255, 255, 255, 0.5); }
    .work h2 {
      color: #fff;
      line-height: 1.2;
      font-size: 16px;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 1px; }
      .work h2 a {
        color: #fff; }
    .work .desc {
      z-index: 1; }
    .work .icon {
      position: absolute;
      top: 50%;
      right: 50%;
      width: 70px;
      height: 70px;
      content: '';
      z-index: 1;
      background: #f3e53d;
      -webkit-transform: translate(50%, 50%);
      -ms-transform: translate(50%, 50%);
      transform: translate(50%, 50%);
      margin-top: -70px;
      opacity: 0;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      @media (max-width: 991.98px) {
        .work .icon {
          opacity: 1; } }
      .work .icon span {
        color: #fff; }
    .work:hover:after {
      opacity: .8; }
    .work:hover .icon {
      opacity: 1; }
    .work:hover .text {
      opacity: 1; }


      .icon {
        position: absolute;
        top: 50% !important;
        right: 15px;
        font-size: 16px;
        transform: translateY(-50%);

    }

    .image-popup {
        cursor: -webkit-zoom-in;
        cursor: -moz-zoom-in;
        cursor: zoom-in;
      }

      .prodtxt{
        padding: 0;
        margin: 0;
        background-color: #0b1826;
        position: absolute;
        transform: translate(-50%,-50%);
        top: 50%;
        left: 50%;
        font-family: 'Times New Roman',serif;
        letter-spacing: 5px;
        font-size: 25px;
        font-weight: bold;
        background-image: linear-gradient(
         to right,
         #462523 0,
                #cb9b51 22%,
         #f6e27a 45%,
         #f6f2c0 50%,
         #f6e27a 55%,
         #cb9b51 78%,
         #462523 100%
         );
        color:transparent;
        -webkit-background-clip:text;

      }

/*
*
for delete


*/

/* CSS */
.button-82-pushable {
  position: relative;
  border: none;
  background: transparent;
  padding: 1px;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 20px;
}

.button-82-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: rgba(151, 140, 140, 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

.button-82-edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
    to left,
    hsl(340deg 100% 16%) 0%,
    hsl(340deg 100% 32%) 8%,
    hsl(340deg 100% 32%) 92%,
    hsl(340deg 100% 16%) 100%
  );
}

.button-82-front {
  display: block;
  position: relative;
  padding: 12px 27px;
  border-radius: 12px;
  font-size: 1.1rem;
  color: white;
  background: rgb(249, 249, 249);
  will-change: transform;
  transform: translateY(-4px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

@media (min-width: 768px) {
  .button-82-front {
    font-size: 1.25rem;
    padding: 1px 4px;
  }
}

.button-82-pushable:hover {
  filter: brightness(110%);
  -webkit-filter: brightness(110%);
}

.button-82-pushable:hover .button-82-front {
  transform: translateY(-6px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.button-82-pushable:hover .button-82-shadow {
  transform: translateY(4px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.button-82-pushable:focus:not(:focus-visible) {
  outline: none;
}

.centerlog {
    margin: auto;
    width: 12%;
    padding: 10px;
    }

.button-86 {
    all: unset;
    width: 100px;
    height: 30px;
    font-size: 16px;
    background: transparent;
    border: none;
    position: relative;
    color: #f0f0f0;
    cursor: pointer;
    z-index: 1;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

  .button-86::after,
  .button-86::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -99999;
    transition: all .4s;
  }

  .button-86::before {
    transform: translate(0%, 0%);
    width: 100%;
    height: 100%;
    background: #28282d;
    border-radius: 10px;
  }

  .button-86::after {
    transform: translate(10px, 10px);
    width: 35px;
    height: 35px;
    background: #ffffff15;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 50px;
  }

  .button-86:hover::before {
    transform: translate(5%, 20%);
    width: 110%;
    height: 110%;
  }

  .button-86:hover::after {
    border-radius: 10px;
    transform: translate(0, 0);
    width: 100%;
    height: 100%;
  }

  .button-86:active::after {
    transition: 0s;
    transform: translate(0, 5%);
  }
